.container {
  padding: 0 4rem;
}

.main {
  min-height: 100vh;
  display: flex;
	justify-content: center;
}

.form {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.title {
  font-size: 3.5rem;
	margin: 0.6em 0 0.6em 0;
}

.title span{
  color: #0070f3;
}

.firstInput {
	display: flex;
	justify-content: space-between;
}

.inputDiv {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
}

.inputDiv > label{ 
	font-size: 1.25em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.textArea {
	resize: none;
	height: 6em;
}

.submit {
	width: 100%;
	border-radius: 7px;
	background-color: #0070f3;
	color: white;
	padding: 1em;
	border: none;
	margin-top: 1em;
	font-weight: bold;
}

.submit:hover {
	background-color: white;
	border: 1px solid #0070f3;
	color: #0070f3;
	transition: all 150ms;
}

.titleDiv {
	width: 90%;
}

.colorDiv {
	display: flex;
	justify-content: center;
	align-items: center;
}

.colorInput {
	width: 2.75em;
	height: 2.75em;
}

.textInput {
	padding: 1.25em;
}

.frequencyButtons {
	display: flex;
	justify-content: space-between;
	border: 1px solid #dadada;
	border-radius: 7px;
	padding: 0.5em;
}

.frequencyOption {
	padding: 1em 1.5em;
	border-radius: 7px;
	font-weight: bold;
	transition: all 150ms;
	
}

.selected {
	background-color: #0070f3;
	color: white;
}

.unselected {
	background-color: white;
	color: black;
}

.backDiv {
	display: flex;
	color: rgb(96, 96, 96);
	align-items: center;
	margin-top: 1em;
}

.back {
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: rgb(237, 237, 237);
	width: 2em;
	padding: 0.5em;
	border-radius: 7px;
	margin-right: 0.5em;
}

.backText {
	font-size: 1.5em;
	font-weight: bold;
}

.backDiv:hover {
	color: #0070f3;
}

.message {
	display: flex;
	justify-content: center;
	color: red;
	border: 1px solid red;
	border-radius: 7px;
	margin-bottom: -2.2em;
	margin-top: 1em;
}

.hidden {
	display: none;
}

/* Footer CSS */

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
	width: 1em;
	height: 1em;
}

/* Media Queries */
@media (max-width: 1276px) {
	.frequencyOption {
		padding: 1em 0.6em;
	}
}

@media (max-width: 876px) {
  .title {
		font-size: 2.5rem;
	}
	
	.description {
	  font-size: 1.3rem;
	}
	.form {
		width: 100%;
	}
	.frequencyOption {
		padding: 1em 0.5em;
		border-radius: 7px;
		font-weight: bold;
		transition: all 150ms;
		
	}
}

@media (max-width: 600px) {
	
  .title {
		font-size: 2rem;
		margin-top: 1.5em;
	}
	.backText {
		font-size: 1em;
	}
	.back {
		width: 2em;
	}
	.inputDiv > label{ 
		font-size: 0.9em;
	}
	
}