.container {
	min-height: 100vh;
  display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}

.dailyhabits {
	padding: 0em 1.5em 1em 1.5em;
	border: 1px solid #dadada;
	border-radius: 6px;
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	
}


.title {
  font-size: 2rem;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.2em 0.5em;
}

.movers {
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
	width: 5em;
}

.moverIconLeft {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(96, 96, 96);
	background-color: rgb(255, 255, 255);
	padding: 0.35em 0.6em 0.35em 0.5em;
	border-radius: 50%;
	border: 1px solid rgb(196, 196, 196);
}

.moverIconRight {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(96, 96, 96);
	background-color: rgb(255, 255, 255);
	padding: 0.35em 0.5em 0.35em 0.6em;
	border-radius: 50%;
	border: 1px solid rgb(196, 196, 196);
}


.moverIconRight:hover, .moverIconLeft:hover {
	border: 1px solid #0070f3;
	color: #0070f3;
}